@model LocationSolution.Mvc.Web.Models.Countries.CountryDeleteModel

@{
    ViewBag.Title = "Delete Country " + Model.Country.CountryName;
}

<h1>Delete Country <small>@Model.Country.CountryName</small></h1>
@using (Html.BeginForm())
{
    <p>Are you sure you want to delete <strong>@Model.Country.CountryName</strong>? This is permanent!</p>  
    <div class="form-actions">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        <div class="pull-right">
            <button type="submit" class="btn btn-danger">Delete Country</button>
        </div>
    </div>
}

